<nav class="navbar navbar-expand-lg navbar-light ws-primary">
    <div class="container-fluid">
        <img src="{{ asset('build/images/logo.png') }}" alt=""/>
        <a class="navbar-brand" href="{{ path('app_index') }}">Wild Series</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{{ 'navBar.home'|trans }}</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'navBar.category'|trans }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('category_show', { 'categoryName' : 'Action'}) }}">{{ 'navBar.category.action'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('category_show', { 'categoryName' : 'Aventure'}) }}">{{ 'navBar.category.adventure'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('category_show', { 'categoryName' : 'Animation'}) }}">{{ 'navBar.category.animation'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('category_show', { 'categoryName' : 'Fantastique'}) }}">{{ 'navBar.category.fantastic'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('category_show', { 'categoryName' : 'Horreur'}) }}">{{ 'navBar.category.horror'|trans }}</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ 'navBar.language'|trans }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{{ path('change_language', { 'choice': 'fr'}) }}">{{ 'navBar.language.fr'|trans }}</a></li>
                        <li><a class="dropdown-item" href="{{ path('change_language', { 'choice': 'en'}) }}">{{ 'navBar.language.en'|trans }}</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
        {% if app.user %}
            {{ app.user.email }}
            {% trans with {'%username%': app.user.email} %}
                hello_username
            {% endtrans %} !
            <a href="{{ path('app_logout') }}" class="btn btn-light" role="button">{{ 'account.logout'|trans }}r</a>
        {% else %}
            <a href="{{ path('app_register') }}" class="btn btn-light" role="button">{{ 'account.register'|trans }}</a>
            <a href="{{ path('app_login') }}" class="btn btn-light" role="button">{{ 'account.sign_in'|trans }}</a>
        {% endif %}
    </div>
</nav>