{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <h1>{{ program.title }} - Saison {{ season.number }}</h1>

    <h3>Episode {{ episode.number }} - {{ episode.title }}</h3>
    <p>{{ episode.synopsis }}</p>

    <h3>Commentaires</h3>
    {% for comment in comments %}
    <div>
        <p>Autheur : {{ comment.author.email }} - {{ comment.rate }}/5</p>
        <p>{{ comment.comment }}</p>
            {% if comment.author.email == app.user.email or is_granted("ROLE_ADMIN") %}
                <button><a href="{{ path("app_comment_delete", { id: comment.id }) }}">Supprimer</a></button>
            {% endif %}
    </div>
    {% endfor %}

    {% if is_granted("ROLE_CONTRIBUTOR") or is_granted("ROLE_ADMIN") %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit">Add comment</button>
        {{ form_end(form) }}
    {% endif %}

    <a href="{{ path('program_season_show', { 'slug' : program.slug, 'season': season.id }) }}">
        Retour à la liste des épisodes</a>

{% endblock %}